*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Bebas Neue Regular';
}

a{
    color:inherit;
}
:root{
    --main-color: #F7EFE9;
    --secondary-color:#C8A48A;
    --third-color:#A78364;
    --text-color: #615E5B;
}
