.main--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
        .main--logo{
        margin-left: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        color: var(--secondary-color);
        .logo--momentaneo{
            font-size: 2.5rem;
        }
    }
    .main--menu{
        margin-right: 20%;
        margin-top: 2%;
        margin-bottom: 2%;

        .menu--options{
            display: flex;
            .option{
                margin-left: 5rem;
                font-size: 1.3rem;
                white-space: nowrap;
            }
        }
    }
}
.main--article{
    position: relative;
    background-color: var(--main-color);
    .main--image_wrap {
        position: absolute;
        right: 0;
        width: 50%;
        height: 50%;
        img{
            position: relative;
            z-index: 80;
            width: 100%;
        border-bottom-left-radius: 60%;

        }
        .barra--inferior{
            position: relative;
            bottom:150px;
            height: 300px;
            width: 100%;
            border: 2px solid var(--secondary-color);
            border-radius: 9999px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            border-right: none;
        }
    }
    .first--main_wrap{
        position: relative;
        display: flex;
        .info--wrap{
            position: relative;
            z-index: 80;
            top:80px;
            height: 40%;
            width: 50%;
           margin-left: 15%;
           .main--article_title{
               font-size: 5.5em;
               font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           }
           .main--article_text{
               margin-top: 3%;
               margin-bottom: 5%;
               width: 80%;
               font-size: 1.5rem;
               line-height: 1.5;
           }
           .article--button_wrap{
               display: flex;
               align-items: center;
               gap:5%;
               .main--article_button{
                   padding: 1rem;
                   font-size: 1.3rem;
                   color:#fff;
                   background-color: var(--secondary-color);
               }
               .button--text{
                   color:var(--secondary-color);
                   text-decoration: underline;
               }
           }
       }
       
    }
    .quienes--somos_info, .quienes--somos-ventajas{
        position: relative;
        top:1000px;
    }
}