.wsp--btn{
    position: fixed;
    bottom:0;
    z-index: 200;
    right: 0;
    margin:2rem;
    height: 20%;
    width: 20%;
}
.main--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
        .main--logo{
        margin-left: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        color: var(--secondary-color);
        .logo--momentaneo{
            font-size: 2.5rem;
        }
    }
    .main--menu{
        margin-right: 20%;
        margin-top: 2%;
        margin-bottom: 2%;

        .menu--options{
            display: flex;
            .option{
                font-family: 'Libre Bakersville Regular';
                margin-left: 5rem;
                font-size: 1.3rem;
                white-space: nowrap;
               
            }
            .burger--btn{
                display: none;
            }
        }
    }
}
.main--article{
    position: relative;
    background-color: var(--main-color);
    .elemento--wrap{
        .elemento--warped{
            .image--elemento{
                margin-left: 10rem;
                animation:rotate 4s infinite linear;
            }
        }
        .elemento--img{
            width: 15%;
            height: 15%;
        }
    }
    .main--image_wrap {
        position: absolute;
        right: 0;
        width: 50%;
        height: 50%;
        img{
            position: relative;
            z-index: 80;
            width: 100%;
             border-bottom-left-radius: 60%;

        }
        .barra--inferior{
            position: relative;
            bottom:150px;
            height: 300px;
            width: 100%;
            border: 2px solid var(--secondary-color);
            border-radius: 9999px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            border-right: none;
        }
    }
    .first--main_wrap{
        position: relative;
        display: flex;
        .social--media_header{
           margin-left:2rem;
        }
        .info--wrap{
            position: relative;
            z-index: 80;
            top:180px;
            height: 40%;
            width: 50%;
           margin-left: 15%;
           .main--article_title{
               font-size: 7rem;
           }
           .main--article_text{
               margin-top: 3%;
               margin-bottom: 5%;
               width: 80%;
               font-size: 1.5rem;
               line-height: 1.5;
               font-family: 'Libre Bakersville Regular';
               color:var(--text-color);
               letter-spacing:1px;
           }
           .article--button_wrap{
               display: flex;
               align-items: center;
               gap:5%;
               .main--article_button{
                   padding: 1rem;
                   font-size: 1.3rem;
                   color:#fff;
                   background-color: var(--secondary-color);
                   font-family: 'Libre Bakersville Regular';
               }
               .button--text{
                   color:var(--secondary-color);
                   text-decoration: underline;
                   font-family: 'Libre Bakersville Regular';

               }
           }
       }
       
    }
    .quienes--somos_info{
        display: flex;
        justify-content: space-around;
        margin-top: 8rem;
        margin-left: 5rem;
            .quienes--somos-title{
                font-size: 3rem;
            }
            .quienes--somos-text{
                width: 50%;
                font-size: 1.5rem;
                font-family: 'LIbre Bakersville Regular ';
            }
        
    }
   .quienes--somos-ventajas{
       display: flex;
       margin-top: 8rem;
       margin-left: 10rem;
       padding-bottom: 5rem;
       .ventajas{
           .ventajas--box{
               display: flex;
               flex-direction: column;
           .ventajas--title{
               font-size: 1.5rem;
               margin-bottom: 5%;
               margin-top: 5%;
           }
           .ventajas--text{
               line-height: 1.8rem;
               width: 50%;
           }
        }
       }
   }
}
.second--article{
    background: #fff;
    .second--article_title{
        font-size: 3rem;
        margin:10rem 15rem;
    }
    .article--info_wrap{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 15rem;
        .fondo--color{
            position: absolute;
            z-index: 1;
            background: var(--main-color);
            width: 100%;
            height: 100%;
            bottom: -40%;
        }
        .image--personalidades_wrap{
            position: relative;
            z-index: 100;
            margin: 1rem;
            .nosotros--img{
                width: 80%;
                height: 80%;
            }
            .frase--wrap{
                position: absolute;
                right: -80px;
                top:120px;
                width: 50%;
                background-color: #fff;
                z-index: 10;
                .frase--text{
                    line-height: 1.3;
                    font-size: 1.2rem;
                    padding:2rem;
                    font-family: 'Libre Bakersville Regular';
                }
            }
            .personalidades--wrap{
                position: absolute;
                bottom: -30px;
                left:20%;
                width: 40%;
                background-color:var(--secondary-color);
                padding: 1rem;
                color:#fff;
                .title--personalidades{
                    font-size: 1.5rem;
                    margin-bottom: 0.5rem;
                }
                .text--personalidades{
                    font-family: 'Libre Bakersville Regular';
                }
            }
        }
        .second--article-text_wrap{
            position: relative;
            z-index: 80;
            width: 30%;
            .second--article_text{
                font-family: 'Libre Bakersville Regular';
                font-size: 2rem;
            }
        }
    }
}
.servicios{
    position: relative;
    background-color: var(--third-color);
    .fondo--color2{
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 50%;
        background-color: #fff;
        bottom: 0;
    }
    .servicios--title_wrap{
        position: relative;
        z-index: 50;
        width: 100%;
        display: flex;
        justify-content: center;
        color:#fff;
        .servicios--text{
            font-size: 3rem;
            letter-spacing:3px;
            padding: 4rem;
        }
    }
    .servicios--box{
        position: relative;
        z-index: 100;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
     
        .servicios--wrap{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1rem;
            .servicios--image{
                height: 80%;
                width: 80%;
            }
            .contact--wrap{
                display: flex;
                padding: 4rem;
                justify-content: space-between; 
                gap:20px;   
                .contact--text_wrap{
                    display: flex;
                    flex-direction: column;
                    .contact--title{
                        font-size: 2rem;
                        font-family: 'Libre Bakersvile Regular';
                    }
                    .contact--text{
                        padding-top: 1rem;
                        align-self: flex-end;
                        font-family: 'Libre Bakersville Regular';
                    }
                }
                .contact{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 150px;
                    padding: 2px;
                    height: 50px;
                    background-color: var(--third-color)
                }
            }
        }
    }
    .contactanos--wrap{
        display: none;
    }
}
.footer--wrap{
    background: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 8rem;
    padding-top: 8rem;
    .footer--element_media{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        .footer--social_title{
            font-size: 3rem;
            letter-spacing:2px;
            padding: 2rem;
            color:var(--third-color);
        }
        .social--media_footer{
            display: flex;
            .social--element{
                margin-left: 2rem;
            }
        }
    }
    .footer--element_contact{
        .footer--contact_text{
            padding: 2rem;
            font-size: 3rem;
            color:var(--third-color);
        }
        .contact--wrap{
            display: flex;
            align-items: center;
        .contact{
            font-size: 1.5rem;
            font-family: 'Libre Bakersville Regular';
            padding-left: 1rem;
        }
    }
}

}
.final--element{
    background: var(--main-color);
.footer--separator{
    margin-bottom: 2rem;
    background: var(--third-color);
    height: 1px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
.final--text_wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .final--title{
        font-size: 2.5rem;
        color:var(--third-color);
        padding-bottom: 2rem;
    }
}
}
@media  screen and(max-width:1300px) {
    .main--header{
        .main--menu{
            .menu--options{
                .option{
                    display: none;
                    
                }
                .burger--btn{
                    display: block;
                }
            }
        }
        
    }
    .main--article{
        .first--main_wrap{
        .info--wrap{
            .main--article_title{
                font-size: 4rem;
            }
        }
    }
        
        .social--media{
            display: none;
        }
            
            .quienes--somos-ventajas{
                .ventajas{
                .ventajas--text{
                    width: 80%;
                }
            }
        }
    }
    .second--article{
        .article--info_wrap{
            flex-direction: column;
            .second--article-text_wrap{
                width: 80%;
                margin-top: 5rem;
            }
           
        }
        
    }
    .servicios{
        .servicios--title_wrap{
            .servicios--text{
                color: var(--third-color);
            }
        }
        .servicios--box{
            .servicios--wrap{   
                .servicios--image{
                    height: 80%;
                    width: 80%;
                }
                
                .contact--wrap{
                    .contact{
                        display: none;
                    }
                }
               
            }
        }
    }
}
@media screen and(max-width:700px) {
    .main--article{
        .first--main_wrap{
        .info--wrap{
            .main--article_title{
                font-size: 2rem;
            }
        }
    }
    .elemento--wrap{
        .elemento--img{
            width: 40%;
        }
        .elemento--warped{
            .image--elemento{
                margin-left: 2rem;
                width: 20%;
            }
        }
    }
    .quienes--somos_info{
        flex-direction: column;
        margin-left:0;
        
            .quienes--somos-title{
                width: 100%;
                padding-left: 2rem;
            }
            .quienes--somos-text{
                padding:2rem;
                width: 100%;
            }
        }
        .quienes--somos-ventajas{
            flex-direction: column;
            margin:10rem 2rem;
           .ventajas{
               display: flex;
               .ventajas--img{
                   width: 15%;
                   height: 15%;
                   margin-right: 1.5rem;
               }
               .ventajas--box{
               width: 70%;

               .ventajas--text{
                   width: 100%;
               }
            }
           }
        }
}
.second--article{
    .second--article_title{
        margin: 2rem 2rem;
        font-size: 2rem;
    }
    .article--info_wrap{
        
    .image--personalidades_wrap{
        position: relative;
        z-index: 100;
        .frase--wrap{
            top: 0;
            right: 20px;
            .frase--text{
              padding: .5rem;
            }
        }
        .personalidades--wrap{
            width: 70%;
        }
 
}
.second--article-text_wrap{
    .second--article_text{
        font-size: 1.2rem;
    }

}

}
}
.servicios{
    .contactanos--wrap{
        display: block;
        position: relative;
        z-index: 100;
        left:150px;
        padding: 1rem;
        margin:1rem;
        width: 150px;
        background-color: var(--third-color);
        text-align: center;
        color: #fff;
        letter-spacing: 1px;
    }
    .servicios--title_wrap{
        .servicios--text{
            color:#fff;
            font-size: 2rem;
        }
    }
    .servicios--box{
        .servicios--wrap{
        .servicios--image{
            height: 80px;
            width: 80px;
                }
                .contact--wrap{
                    padding: 0.5rem;
                    .contact--text_wrap{
                        .contact--title{
                            font-size: 1rem;
                        }
                    }
                }
            }
            
    }
  
}
    .footer--wrap{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        .footer--element_media{
            padding: 0;
            margin-right: 2rem;
            margin-bottom: 2rem;
            .footer--social_title{
                font-size: 1.5rem;
            }
            .social--media_footer{
                .social--element{
                    .social--link{
                .social--image{
                    width: 40px;
                }
            }
            }
            }
        }
        .footer--element_contact{
            .footer--contact_text{
                font-size: 1.5rem;
            }
        }
    }
    .final--element{
        background: #fff;
        .footer--separator{
            display: none;
        }
        .final--text_wrap{
            flex-direction: column;
           
            .final--title{
                padding-top: 4rem;
            }
            .final--text{
                width: 70%;
                text-align: center;
                padding-bottom: 5rem;
            }
        }
    }
}

@media screen and(max-width:900px) {
    .main--article{
        .elemento--wrap{
            .elemento--img{
                width: 40%;
            }
        }
        .main--image_wrap{
            .barra--inferior{
                display: none;
            }
        }
        .first--main_wrap{
            .info--wrap{
                margin-left: 2%;
                top:100px;
                width: 70%;
                .main--article_text{
                    width: 100%;
                    font-size: 1rem;
                }
                .article--button_wrap{
                    flex-direction: column;
                    gap: 20px;
                    margin-left: 4rem;
                    .main--article_button{
                        margin-top: 5rem;
                        padding:1rem;
                        white-space: nowrap; 
                        margin-left: 4rem;
                    }
                }
            }
        }
        
    }
    
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}